Match User {{ edge_tunnel_server_user }}
    AllowTcpForwarding remote
    GatewayPorts no
    PermitListen {{ edge_tunnel_server_listen_ports | join(' ') }}
    AllowAgentForwarding no
    X11Forwarding no
    PermitTTY no
    PermitTunnel no
