[Unit]
Description=Schedule Aurora GWS {{ item.name }} sync

[Timer]
OnCalendar={{ item.schedule }}
Persistent=true
RandomizedDelaySec={{ item.randomized_delay_sec | default(gws_sync_randomized_delay_sec | default(300)) }}
Unit=aurora-gws-rsync-{{ item.name }}.service

[Install]
WantedBy=timers.target
