[Unit]
Description=Run Aurora wxcam daily mp4 products every 5 minutes

[Timer]
OnCalendar=*:09/5
RandomizedDelaySec=0
Persistent=true
Unit=aurora-wxcam-daily-videos.service

[Install]
WantedBy=timers.target
