[Unit]
Description=Run Aurora HATPRO radiometer append every 15 minutes

[Timer]
OnBootSec=2min
OnActiveSec=2min
OnUnitInactiveSec=15min
Persistent=true
Unit=aurora-hatpro-append.service

[Install]
WantedBy=timers.target
