[Unit]
Description=Aurora generate latest CL61 ceilometer quicklook
After=aurora-ceilometer-append.service

[Service]
Type=oneshot
User={{ aurora_service_user }}
Group={{ aurora_service_group }}
WorkingDirectory={{ aurora_app_dir }}
EnvironmentFile=/etc/aurora-dashboard.env
ExecCondition=/usr/bin/test -d {{ aurora_zarr.ceilometer }}
ExecStart={{ aurora_venv }}/bin/python plot_ceilometer_zarr_last24h.py {{ aurora_zarr.ceilometer }} {{ aurora_quicklook_latest.ceilometer }}
Nice=10
