[Unit]
Description=Run Aurora ASFS fast-sonic append every 5 minutes

[Timer]
OnCalendar=*:04/5
RandomizedDelaySec=0
Persistent=true
Unit=aurora-asfs-fast-sonic-append.service

[Install]
WantedBy=timers.target
