CEILOMETER_DIR={{ aurora_paths.raw_cl61 }}
CEILOMETER_ZARR_PATH={{ aurora_zarr.ceilometer }}
CLOUD_RADAR_ZARR_PATH={{ aurora_zarr.cloud_radar }}
HATPRO_ZARR_PATH={{ aurora_zarr.hatpro }}
VAISALAMET_DIR={{ aurora_paths.raw_vaisalamet }}
VAISALAMET_ZARR_PATH={{ aurora_zarr.vaisalamet }}
ASFS_LOGGER_DIR={{ aurora_paths.raw_asfs_logger }}
ASFS_LOGGER_ZARR_PATH={{ aurora_zarr.asfs_logger }}
ASFS_FAST_SONIC_ZARR_PATH={{ aurora_zarr.asfs_fast_sonic }}
POWER_DIR={{ aurora_paths.raw_power }}
POWER_ZARR_PATH={{ aurora_zarr.power }}
AURORA_QUICKLOOK_ROOT={{ aurora_paths.quicklooks }}
CEILOMETER_QUICKLOOK_DIR={{ aurora_quicklook_dirs.ceilometer }}
CEILOMETER_LATEST_IMAGE={{ aurora_quicklook_latest.ceilometer }}
CLOUD_RADAR_QUICKLOOK_DIR={{ aurora_quicklook_dirs.cloud_radar }}
CLOUD_RADAR_LATEST_IMAGE={{ aurora_quicklook_latest.cloud_radar }}
HATPRO_QUICKLOOK_DIR={{ aurora_quicklook_dirs.hatpro }}
HATPRO_LATEST_IMAGE={{ aurora_quicklook_latest.hatpro }}
VAISALAMET_QUICKLOOK_DIR={{ aurora_quicklook_dirs.vaisalamet }}
VAISALAMET_LATEST_IMAGE={{ aurora_quicklook_latest.vaisalamet }}
ASFS_LOGGER_QUICKLOOK_DIR={{ aurora_quicklook_dirs.asfs_logger }}
ASFS_LOGGER_LATEST_IMAGE={{ aurora_quicklook_latest.asfs_logger }}
POWER_QUICKLOOK_DIR={{ aurora_quicklook_dirs.power }}
POWER_LATEST_IMAGE={{ aurora_quicklook_latest.power }}
HEIGHT_LOAD_MAX_M=10000
HEIGHT_INIT_PLOT_MAX_M=4000
USE_DASK=0
CEILO_PERSIST=0
CEILO_DASK_WORKERS=1
CEILO_DASK_THREADS=1
CEILO_DASK_MEMORY_LIMIT=2GB
PYTHONUNBUFFERED=1
PYTHONIOENCODING=UTF-8
