CEILOMETER_DIR={{ aurora_paths.raw_cl61 }}
CEILOMETER_ZARR_PATH={{ aurora_zarr.ceilometer }}
CLOUD_RADAR_ZARR_PATH={{ aurora_zarr.cloud_radar }}
HATPRO_ZARR_PATH={{ aurora_zarr.hatpro }}
VAISALAMET_DIR={{ aurora_paths.raw_vaisalamet }}
VAISALAMET_ZARR_PATH={{ aurora_zarr.vaisalamet }}
ASFS_LOGGER_DIR={{ aurora_paths.raw_asfs_logger }}
ASFS_LOGGER_ZARR_PATH={{ aurora_zarr.asfs_logger }}
ASFS_FAST_SONIC_ZARR_PATH={{ aurora_zarr.asfs_fast_sonic }}
ASFS_FAST_GAS_ZARR_PATH={{ aurora_zarr.asfs_fast_gas }}
POWER_DIR={{ aurora_paths.raw_power }}
POWER_ZARR_PATH={{ aurora_zarr.power }}
POWER_SOC_FORECAST_ZARR_PATH={{ aurora_zarr.power_soc_forecast }}
POWER_ECMWF_FORECAST_CACHE_DIR={{ aurora_paths.products_power_ecmwf_solar_forecast }}
POWER_SOC_FORECAST_STATE_PATH={{ aurora_paths.products_power }}/power_soc_forecast_state.json
POWER_SOC_FORECAST_ARCHIVE_ZARR_PATH={{ aurora_zarr.power_soc_forecast_archive }}
POWER_SOC_FORECAST_SKILL_ZARR_PATH={{ aurora_zarr.power_soc_forecast_skill }}
POWER_SOC_HINDCAST_ZARR_PATH={{ aurora_zarr.power_soc_hindcast }}
POWER_SOC_ENSEMBLE_ZARR_PATH={{ aurora_zarr.power_soc_ensemble }}
POWER_SOC_ENSEMBLE_ARCHIVE_ZARR_PATH={{ aurora_zarr.power_soc_ensemble_archive }}
POWER_SOC_ENSEMBLE_SKILL_ZARR_PATH={{ aurora_zarr.power_soc_ensemble_skill }}
POWER_SOC_PLANNING_FORECAST_ZARR_PATH={{ aurora_power_planning_forecast_path }}
POWER_OPERATING_STATE_ZARR_PATH={{ aurora_power_operating_state_path }}
POWER_OPERATING_SCENARIOS_ZARR_PATH={{ aurora_power_operating_scenarios_path }}
POWER_OPERATING_MODEL_STATE_PATH={{ aurora_power_operating_model_state_path }}
POWER_OPERATING_RECOMMENDATION_ARCHIVE_PATH={{ aurora_power_operating_recommendations_path }}
POWER_ECMWF_ENSEMBLE_TMP_DIR={{ aurora_paths.products_power_ecmwf_solar_ensemble }}
AURORA_POWER_SOC_FORECAST_HOURS={{ 240 if aurora_power_operating_enabled | bool else 96 }}
AURORA_POWER_ECMWF_LOOKAHEAD_BUFFER_HOURS=24
AURORA_ECMWF_PROVIDER={{ aurora_ecmwf_provider }}
AURORA_ECMWF_SHADOW_REPORT_PATH={{ aurora_ecmwf_shadow_report_path }}
AURORA_POWER_SOC_FORECAST_CALIBRATION_DAYS=7
AURORA_POWER_SOC_FORECAST_FALLBACK_CALIBRATION_HOURS=48
AURORA_POWER_FORECAST_LATITUDE={{ aurora_power_forecast_latitude | default(64.829694) }}
AURORA_POWER_FORECAST_LONGITUDE={{ aurora_power_forecast_longitude | default(-23.248139) }}
AURORA_POWER_ECMWF_CDSAPIRC={{ aurora_state_root }}/power-forecast/.cdsapirc
PDU_DIR={{ aurora_paths.raw_pdu }}
PDU_ZARR_PATH={{ aurora_zarr.pdu }}
OPS_MONITOR_RAW_ROOT={{ aurora_paths.raw_ops_monitor }}
OPS_MONITOR_ZARR_PATH={{ aurora_zarr.ops_monitor }}
OPS_MONITOR_HEALTH_ROOT={{ aurora_paths.products_ops_monitor_health }}
OPS_ALERT_RECIPIENTS={{ ops_alert_recipients | join(',') }}
OPS_ALERT_TRANSPORT={{ ops_alert_transport }}
OPS_ALERT_FROM={{ ops_alert_from }}
OPS_ALERT_STATE={{ aurora_paths.products_ops_monitor }}/alerts/state.json
OPS_ALERT_LOG={{ aurora_paths.products_ops_monitor }}/alerts/alerts.jsonl
OPS_ALERT_DASHBOARD_URL=https://{{ aurora_domain }}/app?tab=operations
AURORA_SITE_ENV={{ aurora_site_env }}
AURORA_FAILOVER_ROLE={{ aurora_failover_role }}
AURORA_DOMAIN={{ aurora_domain }}
AURORA_PRIMARY_DASHBOARD_URL=https://{{ aurora_failover_domain }}/app
AURORA_STANDBY_DASHBOARD_URL=https://{{ aurora_standby_domain }}/app
AURORA_DEV_PRODUCT_ROOT={{ aurora_dev_product_root }}
AURORA_DEV_RAW_ROOT={{ aurora_dev_raw_root }}
AURORA_DEV_LIVE_MIRROR_STAMP={{ aurora_dev_live_mirror_stamp }}
AURORA_DEV_LIVE_MIRROR_RECENT_MINUTES={{ aurora_dev_live_mirror_recent_minutes }}
{% if ops_alert_smtp_host | default('') %}
OPS_ALERT_SMTP_HOST={{ ops_alert_smtp_host }}
{% endif %}
{% if ops_alert_smtp_port | default('') %}
OPS_ALERT_SMTP_PORT={{ ops_alert_smtp_port }}
{% endif %}
{% if ops_alert_smtp_user | default('') %}
OPS_ALERT_SMTP_USER={{ ops_alert_smtp_user }}
{% endif %}
{% if ops_alert_smtp_password | default('') %}
OPS_ALERT_SMTP_PASSWORD={{ ops_alert_smtp_password }}
{% endif %}
OPS_ALERT_SMTP_STARTTLS={{ 'true' if ops_alert_smtp_starttls | bool else 'false' }}
OPS_ALERT_SMTP_SSL={{ 'true' if ops_alert_smtp_ssl | bool else 'false' }}
AURORA_RAW_ROOT={{ aurora_raw_root }}
AURORA_PRODUCT_ROOT={{ aurora_product_root }}
AURORA_LES_ROOT={{ aurora_les_root }}
AURORA_DART_ROOT={{ aurora_data_root }}/dart
WXCAM_ZARR_PATH={{ aurora_zarr.wxcam }}
WXCAM_CATALOG_PATH={{ aurora_catalogs.wxcam }}
WXCAM_DAILY_VIDEO_DIR={{ aurora_paths.products_wxcam_daily_videos }}
AURORACAM_RAW_ROOT={{ aurora_paths.raw_auroracam }}
AURORACAM_ZARR_PATH={{ aurora_zarr.auroracam }}
AURORA_DASHBOARD_REPO={{ aurora_app_dir }}
AURORA_INFRA_REPO={{ aurora_infra_repo_dir }}
AURORA_LES_RUNTIME_DIR={{ aurora_les_runtime_dir }}
AURORA_LES_PYTHON={{ aurora_les_python }}
AURORA_LES_CAMPAIGN_CONFIG={{ aurora_les_campaign_config }}
AURORA_LES_TARGET={{ aurora_les_target }}
AURORA_LES_SKIP_COMPLETED={{ aurora_les_skip_completed }}
AURORA_LES_ERA5_LAG_DAYS={{ aurora_les_era5_lag_days }}
AURORA_MODEL_EVALUATION_CAMPAIGN_ROOT={{ aurora_model_evaluation_campaign_root }}
AURORA_MODEL_EVALUATION_CASE_ROOT={{ aurora_data_root }}/les/cases
CL61_SOURCE_USER={{ cl61_source_user }}
CL61_SOURCE_HOST={{ cl61_source_host }}
CL61_SOURCE_PORT={{ cl61_source_port }}
CL61_SOURCE_AUTH={{ cl61_source_auth }}
CL61_SOURCE_PATH={{ cl61_source_path }}
CL61_SOURCE_KEY_PATH={{ cl61_source_ssh_key_path }}
RADAR_SOURCE_USER={{ radar_source_user }}
RADAR_SOURCE_HOST={{ radar_source_host }}
RADAR_SOURCE_PORT={{ radar_source_port }}
RADAR_SOURCE_AUTH={{ radar_source_auth }}
RADAR_SOURCE_PATH={{ radar_source_path }}
VAISALAMET_SOURCE_USER={{ vaisalamet_source_user }}
VAISALAMET_SOURCE_HOST={{ vaisalamet_source_host }}
VAISALAMET_SOURCE_PORT={{ vaisalamet_source_port }}
VAISALAMET_SOURCE_AUTH={{ vaisalamet_source_auth }}
VAISALAMET_SOURCE_PATH={{ vaisalamet_source_path }}
ASFS_LOGGER_SOURCE_USER={{ asfs_logger_source_user }}
ASFS_LOGGER_SOURCE_HOST={{ asfs_logger_source_host }}
ASFS_LOGGER_SOURCE_PORT={{ asfs_logger_source_port }}
ASFS_LOGGER_SOURCE_AUTH={{ asfs_logger_source_auth }}
ASFS_LOGGER_SOURCE_PATH={{ asfs_logger_source_path }}
ASFS_FAST_SONIC_SOURCE_USER={{ asfs_fast_sonic_source_user }}
ASFS_FAST_SONIC_SOURCE_HOST={{ asfs_fast_sonic_source_host }}
ASFS_FAST_SONIC_SOURCE_PORT={{ asfs_fast_sonic_source_port }}
ASFS_FAST_SONIC_SOURCE_AUTH={{ asfs_fast_sonic_source_auth }}
ASFS_FAST_SONIC_SOURCE_PATH={{ asfs_fast_sonic_source_path }}
ASFS_FAST_GAS_SOURCE_USER={{ asfs_fast_gas_source_user }}
ASFS_FAST_GAS_SOURCE_HOST={{ asfs_fast_gas_source_host }}
ASFS_FAST_GAS_SOURCE_PORT={{ asfs_fast_gas_source_port }}
ASFS_FAST_GAS_SOURCE_AUTH={{ asfs_fast_gas_source_auth }}
ASFS_FAST_GAS_SOURCE_PATH={{ asfs_fast_gas_source_path }}
POWER_SOURCE_USER={{ power_source_user }}
POWER_SOURCE_HOST={{ power_source_host }}
POWER_SOURCE_PORT={{ power_source_port }}
POWER_SOURCE_AUTH={{ power_source_auth }}
POWER_SOURCE_PATH={{ power_source_path }}
PDU_SOURCE_USER={{ pdu_source_user }}
PDU_SOURCE_HOST={{ pdu_source_host }}
PDU_SOURCE_PORT={{ pdu_source_port }}
PDU_SOURCE_AUTH={{ pdu_source_auth }}
PDU_SOURCE_PATH={{ pdu_source_path }}
UAS_SOURCE_USER={{ uas_source_user }}
UAS_SOURCE_HOST={{ uas_source_host }}
UAS_SOURCE_PORT={{ uas_source_port }}
UAS_SOURCE_PATH={{ uas_source_path }}
UAS_MQTT_LOG_PATH={{ uas_source_destination }}
GWS_PATH={{ gws_path }}
GWS_MANIFEST_ROOT={{ gws_manifest_root }}
GWS_TRANSFER_HOSTS={{ gws_transfer_hosts | join(',') }}
GWS_USERNAME={{ gws_username }}
GWS_SSH_PRIVATE_KEY={{ gws_ssh_private_key }}
WXCAM_SOURCE_USER={{ wxcam_source_user }}
WXCAM_SOURCE_HOST={{ wxcam_source_host }}
WXCAM_SOURCE_PORT={{ wxcam_source_port }}
WXCAM_SOURCE_AUTH={{ wxcam_source_auth }}
WXCAM_SOURCE_PATH={{ wxcam_source_path }}
AURORA_QUICKLOOK_ROOT={{ aurora_paths.quicklooks }}
POWER_DISPLAY_SUMMARY_ZARR_PATH={{ aurora_power_display_summary_path }}
POWER_DISPLAY_ENERGY_ZARR_PATH={{ aurora_power_display_energy_path }}
AURORA_MOBILE_API_TOKEN_FILE=/etc/aurora-mobile-api.token
CEILOMETER_QUICKLOOK_DIR={{ aurora_quicklook_dirs.ceilometer }}
CEILOMETER_LATEST_IMAGE={{ aurora_quicklook_latest.ceilometer }}
CLOUD_RADAR_QUICKLOOK_DIR={{ aurora_quicklook_dirs.cloud_radar }}
CLOUD_RADAR_LATEST_IMAGE={{ aurora_quicklook_latest.cloud_radar }}
HATPRO_QUICKLOOK_DIR={{ aurora_quicklook_dirs.hatpro }}
HATPRO_LATEST_IMAGE={{ aurora_quicklook_latest.hatpro }}
VAISALAMET_QUICKLOOK_DIR={{ aurora_quicklook_dirs.vaisalamet }}
VAISALAMET_LATEST_IMAGE={{ aurora_quicklook_latest.vaisalamet }}
ASFS_LOGGER_QUICKLOOK_DIR={{ aurora_quicklook_dirs.asfs_logger }}
ASFS_LOGGER_LATEST_IMAGE={{ aurora_quicklook_latest.asfs_logger }}
ASFS_FAST_SONIC_QUICKLOOK_DIR={{ aurora_quicklook_dirs.asfs_fast_sonic }}
ASFS_FAST_SONIC_LATEST_IMAGE={{ aurora_quicklook_latest.asfs_fast_sonic }}
POWER_QUICKLOOK_DIR={{ aurora_quicklook_dirs.power }}
POWER_LATEST_IMAGE={{ aurora_quicklook_latest.power }}
OPS_MONITOR_QUICKLOOK_DIR={{ aurora_quicklook_dirs.ops_monitor }}
OPS_MONITOR_LATEST_IMAGE={{ aurora_quicklook_latest.ops_monitor }}
HEIGHT_LOAD_MAX_M=10000
HEIGHT_INIT_PLOT_MAX_M=4000
USE_DASK=0
CEILO_PERSIST=0
CEILO_DASK_WORKERS=1
CEILO_DASK_THREADS=1
CEILO_DASK_MEMORY_LIMIT=2GB
PYTHONUNBUFFERED=1
PYTHONIOENCODING=UTF-8
