CEILOMETER_DIR={{ aurora_paths.raw_cl61 }}
CEILOMETER_ZARR_PATH={{ aurora_zarr.ceilometer }}
CLOUD_RADAR_ZARR_PATH={{ aurora_zarr.cloud_radar }}
HATPRO_ZARR_PATH={{ aurora_zarr.hatpro }}
HEIGHT_LOAD_MAX_M=10000
HEIGHT_INIT_PLOT_MAX_M=4000
USE_DASK=0
CEILO_PERSIST=0
CEILO_DASK_WORKERS=1
CEILO_DASK_THREADS=1
CEILO_DASK_MEMORY_LIMIT=2GB
PYTHONUNBUFFERED=1
PYTHONIOENCODING=UTF-8
