[Unit]
Description=Schedule Aurora development live mirror pull ({{ item.name }})

[Timer]
OnActiveSec={{ 20 + ((loop_index % 12) * 15) }}s
OnUnitInactiveSec={{ item.interval | default(aurora_standby_replication_interval) }}
Persistent=true
RandomizedDelaySec={{ aurora_standby_replication_randomized_delay_sec }}
Unit=aurora-dev-live-pull@{{ item.name }}.service

[Install]
WantedBy=timers.target
