[Unit]
Description=Schedule Aurora warm-standby pull replication

[Timer]
OnBootSec=3min
OnUnitActiveSec={{ aurora_standby_replication_interval }}
Persistent=true
RandomizedDelaySec={{ aurora_standby_replication_randomized_delay_sec }}
Unit=aurora-standby-pull.service

[Install]
WantedBy=timers.target
