[Unit]
Description=Schedule Aurora PDU source sync

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ pdu_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ pdu_source_sync_randomized_delay }}
Unit=aurora-pdu-source-sync.service

[Install]
WantedBy=timers.target
