[Unit]
Description=Schedule Aurora cloud radar source sync

[Timer]
OnActiveSec=2min
OnUnitActiveSec={{ radar_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ radar_source_sync_randomized_delay }}
Unit=aurora-radar-source-sync.service

[Install]
WantedBy=timers.target
