[Unit]
Description=Schedule Aurora power source sync

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ power_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ power_source_sync_randomized_delay }}
Unit=aurora-power-source-sync.service

[Install]
WantedBy=timers.target
