[Unit]
Description=Schedule Aurora ASFS fast-sonic source sync

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ asfs_fast_sonic_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ asfs_fast_sonic_source_sync_randomized_delay }}
Unit=aurora-asfs-fast-sonic-source-sync.service

[Install]
WantedBy=timers.target
