[Unit]
Description=Schedule Aurora Vaisala met source sync

[Timer]
OnActiveSec=2min
OnUnitActiveSec={{ vaisalamet_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ vaisalamet_source_sync_randomized_delay }}
Unit=aurora-vaisalamet-source-sync.service

[Install]
WantedBy=timers.target
