[Unit]
Description=Schedule Aurora ASFS LoggerNet source sync

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ asfs_logger_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ asfs_logger_source_sync_randomized_delay }}
Unit=aurora-asfs-logger-source-sync.service

[Install]
WantedBy=timers.target
