[Unit]
Description=Schedule Aurora wxcam source sync

[Timer]
OnActiveSec=2min
OnUnitActiveSec={{ wxcam_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ wxcam_source_sync_randomized_delay }}
Unit=aurora-wxcam-source-sync.service

[Install]
WantedBy=timers.target
