[Unit]
Description=Schedule Aurora ASFS fast-gas source sync

[Timer]
OnActiveSec=2min
OnUnitActiveSec={{ asfs_fast_gas_source_sync_interval }}
Persistent=true
RandomizedDelaySec={{ asfs_fast_gas_source_sync_randomized_delay }}
Unit=aurora-asfs-fast-gas-source-sync.service

[Install]
WantedBy=timers.target
